target/
results*
results*/
.ipynb_checkpoints/
.DS_Store
.idea
load-results*
*.iml
build/
.gradle/
*-log.txt*
node_modules/
/.classpath
/.project
php/logs/*
!php/logs/locker
php/tmp/*
!php/tmp/locker
play/logs/*
logs/